@media screen and (orientation:portrait) {
    .cardSlide {
        display: flex;
        margin: 5%;
        height: 100%;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }

    .cardStyle {
        width: 20vh;
        height: 30vh;
        margin: 5%;
        text-align: center;
    }
}

@media screen and (orientation:landscape) and (min-width:1920px){
    .cardSlide {
        display: flex;
        margin: 7%;
        height: 100%;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }

    .cardStyle {
        width: 30em;
        height: 45em;
        margin: 1%;
        text-align: center;
    }
}

@media screen and (orientation:landscape) and (min-width:720px) and (max-width:1920px){
    .cardSlide {
        display: flex;
        margin: 5%;
        height: 100%;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
    }

    .cardStyle {
        width: 16em;
        height: 24em;
        margin: 1%;
        text-align: center;
    }
}
