.backgroundSlide {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
}

.safari {
	height: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
