.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading-screen.gif) center no-repeat #000;
}

.turnDeviceNotification {
	position:fixed;
	top: 0;
	left:0;
	height:100%;
	width:100%;
	background-image:url('../img/turnDevice.png');
	background-size:cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

@media screen and (orientation:portrait), screen and (orientation:landscape) and (min-width:720px){
	#container {
		display: block;
	}
	.turnDeviceNotification {
		position:fixed;
		top: 0;
		left:0;
		height:100%;
		width:100%;
		display: none;
		background-image:url('../img/turnDevice.png');
		background-size:cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

@media screen and (orientation:landscape) and (max-device-height:720px){
	#container {
		display: none;
	}
	.turnDeviceNotification {
		position:fixed;
		top: 0;
		left:0;
		height:100%;
		width:100%;
		display: block;
		background-image:url('../img/turnDevice.png');
		background-size:cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

body {
	height: 100%;
	width: 100%;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}
