.footer {
    display: flex;
    justify-content: center;
	background-color: black;
	text-align: center;
	position: fixed;
    bottom: 0px;
	color: white;
	z-index: 5;
    width: 100%;
}

.footer > a {
    margin: 6px;
}

#homeIcon{
    transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    background-color: white;
    color: black;
    padding: 0px;
    border-radius: 5px;
}
#homeIcon:hover{
    color: white;
    background-color: black;
}
