@media screen and (orientation:portrait), screen and (max-width:720px){
    .menuBarContainer{
        margin-top: 3vh;
        margin-bottom: 6vh;
        text-align: center;
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    .menuBar{
        border:1px solid #ccc;
        border-width:1px 0;
        display:flex;
        flex-flow: column;
        padding-left: 0;
        list-style-type: none;
        width: 25%;
        text-align: center;
        justify-content: center;
    }

    .menuBar li{
        text-align:center;
        float:left;
        font-weight: bold;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }

    .menuBar a{
        padding:0 20px;
        text-decoration-style: none;
        padding-top: 12px;
        padding-bottom: 13px;
    }

    .menuBar li a {
        color: #0066cc;
        opacity:1;
        font-size: 12px;
        text-decoration: none;
        font-family: 'Montserrat',
        sans-serif;
        font-weight: bold;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        display: block;
    }

    .menuBar li a:hover {
        color: #0066cc;
        opacity:1;
        background: white;
        font-weight: bold;
    }
}

@media screen and (orientation:landscape) and (min-width:1920px){
    .menuBarContainer{
        margin-top: 3vh;
    	margin-bottom: 6vh;
    }

    .menuBar{
    	border:1px solid #ccc;
    	border-width:1px 0;
    	display:inline-block;
    	padding-left: 0;
    	padding-top: 10px;
    	padding-bottom: 10px;
        list-style-type: none;

    }

    .menuBar li{
    	text-align:center;
    	float:left;
    	font-weight: bold;
    	transition: all 0.3s ease 0s;
    	-webkit-transition: all 0.3s ease 0s;
    }

    .menuBar a{
    	padding:0 30px;
    	text-decoration-style: none;
    	padding-top: 12px;
    	padding-bottom: 13px;
    }

    .menuBar li a {
        color: #0066cc;
        opacity:1;
        font-size: 16px;
        text-decoration: none;
        font-family: 'Montserrat',
        sans-serif;
        font-weight: bold;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s
    }

    .menuBar li a:hover {
        color: #0066cc;
        opacity:1;
        background: white;
        font-weight: bold;
    }
}

@media screen and (orientation:landscape) and (min-width:720px) and (max-width:1920px){
    .menuBarContainer{
        margin-top: 3vh;
        margin-bottom: 6vh;
    }

    .menuBar{
        border:1px solid #ccc;
        border-width:1px 0;
        display:inline-block;
        padding-left: 0;
        padding-top: 7px;
        padding-bottom: 7px;
        list-style-type: none;

    }

    .menuBar li{
        text-align:center;
        float:left;
        font-weight: bold;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
    }

    .menuBar a{
        padding:0 20px;
        text-decoration-style: none;
        padding-top: 12px;
        padding-bottom: 13px;
    }

    .menuBar li a {
        color: #0066cc;
        opacity:1;
        font-size: 12px;
        text-decoration: none;
        font-family: 'Montserrat',
        sans-serif;
        font-weight: bold;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s
    }

    .menuBar li a:hover {
        color: #0066cc;
        opacity:1;
        background: white;
        font-weight: bold;
    }
}
/*.menuBarContainer{
    margin-top: 3vw;
	margin-bottom: 6vw;
}

.menuBar{
	border:1px solid #ccc;
	border-width:1px 0;
	display:inline-block;
	padding-left: 0;
	padding-top: 10px;
	padding-bottom: 10px;
    list-style-type: none;

}

.menuBar li{
	text-align:center;
	float:left;
	font-weight: bold;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;


}


.menuBar a{
	padding:0 30px;
	text-decoration-style: none;
	padding-top: 12px;
	padding-bottom: 13px;
}

.menuBar li a {
    color: #0066cc;
    opacity:1;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s
}

.menuBar li a:hover {
    color: #0066cc;
    opacity:1;
    background: white;
    font-weight: bold;
}*/
